<div class="wrapper wrapper__results">
  <img src="/img/background.gif" class="background background--faded">
  <h1>Results</h1>

  <p>{{ user }}, you chose <em>'{{ userChoice }}'</em>.</p>
  <p>{{ percentAgreeWithUser }}% of people agree with you.</p>
  <p>{{ percentDisagreeWithUser }}% of people disagree with you.</p>
  <p>{{ option1Count }} people chose <em>'{{ option1 }}'</em>.</p>
  <p>{{ option2Count }} people chose <em>'{{ option2 }}'</em>.</p>

  <div class="back-next">
    {{#if showBack}}
      <form method="POST" action="/back">
        {{!-- The current user --}}
        <input type="hidden" name="userId" value="{{ userId }}">
        {{!-- The current question --}}
        <input type="hidden" name="questionId" value="{{ questionId }}">
        <button type="submit">Back</button>
      </form>
    {{/if}}

    {{#if showNext}}
      <form method="POST" action="/next">
        {{!-- The current user --}}
        <input type="hidden" name="userId" value="{{ userId }}">
        {{!-- The current question --}}
        <input type="hidden" name="questionId" value="{{ questionId }}">
        <button type="submit">Next</button>
      </form>
    {{/if}}

  </div>

</div>