<div class="wrapper wrapper__results">
  <img src="/img/background.gif" class="background background--faded">
  <h1>Results</h1>

  <div class="results">
    <div class="results__left">    
      <p>{{ user }}, you chose <em>'{{ userChoice }}'</em>.</p>
      <p><strong>{{ percentAgreeWithUser }}%</strong> of people agree with you.</p>
      <p><strong>{{ percentDisagreeWithUser }}%</strong> of people disagree with you.</p>
      <p>{{ option1Count }} people chose <em>'{{ option1 }}'</em>.</p>
      <p>{{ option2Count }} people chose <em>'{{ option2 }}'</em>.</p>
    </div>

    {{#if agreeUserNames}}
      <div class="results__right">
        <h2>People who agree with you:</h2>
        <ul class="results__otherUsers">
          {{#each agreeUserNames }}<li>{{ this }} </li>{{/each}}
        </ul>
      </div>
    {{/if}}
  </div>


  <div class="back-next">
    {{#if showBack}}
      <form method="POST" action="/back">
        {{!-- The current user --}}
        <input type="hidden" name="userId" value="{{ userId }}">
        {{!-- The current question --}}
        <input type="hidden" name="questionId" value="{{ questionId }}">
        <button type="submit" class="back-next__button">Back</button>
      </form>
    {{/if}}

    {{#if showNext}}
      <form method="POST" action="/next">
        {{!-- The current user --}}
        <input type="hidden" name="userId" value="{{ userId }}">
        {{!-- The current question --}}
        <input type="hidden" name="questionId" value="{{ questionId }}">
        <button type="submit" class="back-next__button">Next</button>
      </form>
    {{else}}
      <form method="POST" action="/end">
        {{!-- The current user --}}
        <input type="hidden" name="userId" value="{{ userId }}">
        <button type="submit" class="back-next__button">Next</button>
      </form> 
    {{/if}}

  </div>

</div>